body {
    background-color: rgb(194, 224, 135);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(86, 50, 182);
    margin: 30px;
   
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 35px;
}

button {
    background-color: rgb(86, 50, 182);
    color: rgb(153, 204, 52);
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(86, 50, 182);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 30px ;
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(107, 65, 222);

}