*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(14, 66, 18); 
    background-color: aqua;
}

nav {
    background-color: rgb(88, 81, 194);
    font-size: 25px;
    width: 20%;
    left: 0;
    padding: 10px;
    cursor: pointer;

} 

.alttext-container {
    display: flex;
    /* background-color: rgb(42, 26, 149); */
    width: 20%;
    left: 0;
    padding: 10px;
    cursor: pointer;
}

.categories {
    /* background: rgb(228, 178, 212);   */
    display: flex;
    width: 50%;
    font-size: 25px;
    cursor: pointer; 
}


.product {
    background: rgb(97, 241, 241);  
    float: right;
    width: 20%;
    font-size: 15px;
}

.products-item {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    width: 50vw;
    text-align: center;
    padding: 10px 3px;
    
}

.product-buy {
    background: #c74545; 
    float: right;
    border-radius: 8px;
}
 
.product-price {
    background: #b8d247;
    float: right;
} 

.product-img {
    display: flex;
    width: 100%;
    height: 50%;
    background: #85c925;
   
}

/* order forma */

form{
    background: #aacf82;
    float: center;
    border-radius: 1px;
}

form button {
    height: 20px;
    font-size: 15px;
    background: #d760b3;
    border: none;
    cursor: pointer;
    transition: 0.3c all ease-in-out;
}

.ninza {
    /* background: #d760b3; */
    float: center;
    border-radius: 1px;
}

form button:hover {
      font-size: 15px;
}

.d-none {
    display: none;
} 

table{
    
    background-color: #e0d5aa;
    /* margin-left: 100px; */
    width: 40%;
    height: 50%;
    border-radius: 8px;
}

table,
 th, 
 td , 
 tr {
    margin: top;
    margin-left: 400px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
