body {
    background-color: #7cd9e0;
    color: #413737;
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    margin: 0;
    padding: 10px 10px 10px 10px;
}
.buyButton {
    background-color: #962655;
    border-radius: 5px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    padding: 10px ;
    cursor: pointer;
}

.leftBlock {
    float: left;
    width: 50%;
}

.centerBlock {
    float: left;
    width: 50%;
}
.rightBlock {
    float: right;
    width: 50%;
}

